.dayBody{
    height: 765px;
    width: 485px;
    background: no-repeat;
    background-image: url(../img/menu.png);
    background-size:  100%;
    position: fixed;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nightBody{
    height: 765px;
    width: 485px;
    background: no-repeat;
    background-image: url(../img/menu-night.png);
    background-size:  100%;
    position: fixed;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sunormoon{
    position: absolute;
    width: 75px;
    margin-top: 10px;
    margin-left: 365px;
}
.airdrop{
    position: absolute;
    display: none;
    width: 50px;
    transition-property: width, margin-left, margin-top;
    transition-duration: 5s;
    margin-left: 100px;
}
.falldrop{
    display: block;
    width: 59px;
    margin-left: 125px;
    margin-top: 40px;
}
.Ver{
    position: absolute;
    font-size: 9px;
    margin-top: 115px;
    margin-left: 380px;
}
.moon_main{
    width: 46px;
    margin-left: 395px;
}

.life{
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    width: 148px;
    height: 80px;
    background-color: aqua;
}
.points{
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    width: 148px;
    height: 80px;
    background-color: blue;
}
.meal{
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    height: 80px;
    width: 148px;
    background-color: rgb(255, 66, 66);
}
a{
    text-decoration: none;
}
.value{
    width: 1000px;
    height: 200px;
    margin-top: 150px;
    z-index: 2;
    margin-left: 0;
}
.bonus{
    position: absolute;
    display: none;
}
.B_present{
    font-size: 20px;
    position: absolute;
    display: block;
    left: 100px;
}
h3{
    color: black;
    margin-top: 15px;
    margin-bottom: 0;
}
h2{
    display: inline;
    color: black;
    margin-top: 0;
}
.add_img{
    width: 50px;
}
.img_poins{
    height: 50px;
}
.add_life{
    width: 400px;
    background-color: aqua;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 25px;
}
.add_eat{
    width: 400px;
    background-color: rgb(255, 66, 66);
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 25px;
}
.add_points{
    width: 400px;
    background-color: blue;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 25px;
}
.img_poins .points_recue{
    display: inline;
}
.add_img{
    position: absolute;
    margin: 7.5px 10px;
}
.add{
    cursor: pointer;
    text-align: end;
    border-radius: 5px;
    height: 65px;
    position: relative;
}
.img_heal{
    margin: 7.5px -65px;
}
.img_eat{
    margin: 17.5px -195px;
}
.img_poins{
    margin: 7.5px -130px;
}
.recue{
    margin-right: 20px;
    vertical-align: -15px;
}
.sun_main{
    display: none;
}
.moon_main{
    display: none;
}
.day{
    display: block;
}
.night{
    display: block;
}