body{
    height: 765px;
    width: 485px;
    background: no-repeat;
    background-image: url(../img/menu.png);
    background-size:  100%;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sunormoon{
    position: absolute;
    width: 75px;
    margin-top: 10px;
    margin-left: 365px;
}
.airdrop{
    display: none;
}
p{
    position: absolute;
    font-size: 9px;
    margin-top: 250px;
    margin-left: 380px;
}
.moon_main{
    width: 46px;
    margin-left: 395px;
}
.value{
    position: absolute;
    width: 385px;
    margin-left: 0;
}