body{
    height: 765px;
    width: 485px;
    background: no-repeat;
    background-image: url(../img/menu.png);
    background-size:  100%;
    position: fixed;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sunormoon{
    position: absolute;
    width: 75px;
    margin-top: 10px;
    margin-left: 365px;
}
.airdrop{
    display: none;
}
p{
    position: absolute;
    font-size: 9px;
    margin-top: 250px;
    margin-left: 380px;
}
.moon_main{
    width: 46px;
    margin-left: 395px;
}

.life{
    display: inline;
    background-color: aqua;
}
.points{
    display: inline;
    background-color: blue;
}
.meal{
    display: inline;
    background-color: brown;
}
.value{
    margin-top: 100px;
    display: inline;
    z-index: 2;
    margin-left: 0;
}
.bonus{
    display: none;
}
h3{
    display: inline;
}