body{
    height: 765px;
    width: 485px;
    background: no-repeat;
    background-image: url(img/menu.png);
    background-size:  100%;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btns{
    text-align: center;
    margin-top: 300px;
    width: 242.5px;
    margin-left: 100.25px;
}
.start{
    background-color: crimson;
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 15px 0 15px 0;
}
.exit{
    background-color: blueviolet;
    padding: 1px;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
}
.links{
    text-decoration: none;
    color: black;
}
.sun_main{
    position: absolute;
    width: 75px;
    margin-top: 10px;
    margin-left: 365px;
}
p{
    position: absolute;
    font-size: 9px;
    margin-top: 250px;
    margin-left: 380px;
}
ddd