body{
    height: 765px;
    width: 485px;
    background: no-repeat;
    background-image: url(img/menu.png);
    background-size:  100%;
    position: fixed;
}
.btns{
    display: block;
    margin: 0 auto;
}