body{
    height: 765px;
    width: 485px;
    background: no-repeat;
    background-image: url(img/menu.png);
    background-size:  100%;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btns{
    margin-top: 300px;
}
.start{
    background-color: crimson;
    padding: 30px;
}
.links{
    text-decoration: none;
    color: black;
}